*{
    font-family: PT Sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    font-size: 36px;
    font-weight: 700;
    color: rgb(249, 249, 249);
    height: 50px;
    letter-spacing: 8px;
    line-height: 50px;
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(36,204,255,1) 0%, rgba(125,161,245,1) 0%, rgba(120,221,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(36,204,255,1) 0%, rgba(125,161,245,1) 0%, rgba(120,221,255,1) 100%);
    background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(36,204,255,1) 0%, rgba(125,161,245,1) 0%, rgba(120,221,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(36,204,255,1) 0%, rgba(125,161,245,1) 0%, rgba(120,221,255,1) 100%);
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(36,204,255,1) 0%, rgba(125,161,245,1) 0%, rgba(120,221,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#78ddff', GradientType=1 );
    text-transform: uppercase;
    padding-left: 20px;
}
.container{
    position: relative;
    width: 100vw;
    height: calc(100vh - 50px);
    font-size: 0;
}
.container:after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    filter: opacity(.2);
    top: -60px;
    width: 100vw;
    height: 100vh;
    background: url(src/svg/background.svg);
    background-size: 500%;
    z-index: -5;
}
.user{
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    width: 50%;
    height: 100%;
}
@keyframes appear {
    0%{
        filter: opacity(0);
    }
    50%{
        filter: opacity(.5);
    }
    100%{
        filter: opacity(1);
    }
}

.message.user1{
    background-color: antiquewhite;
}
.message.user2{
    background: rgb(168, 224, 255);
}
.messages.user1 .message.user2{
    float: right;
}
.messages.user2 .message.user2{
    float: right;
}


.user:nth-child(1){
    border-right: 1px solid rgba(158, 158, 158, 0.54);
    position: absolute;
    top: 0;
    left: 0;
}

.messages{
    font-size: 18px;
    padding: 5px;
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */

}
.messages::-webkit-scrollbar {
    width: 5px;
}


.message{
    clear: both;
    display: block;
    width: max-content;
    color: rgba(45, 45, 45, 0.76);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: antiquewhite;
    overflow: auto;
    animation: appear .8s;
}




.input{
    display: inline-block;
    padding: 15px;
    width: 100%;
    height: 70px;
    background-color: #e5e5e5;
}

textarea {
    width: calc(100% - 80px);
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(183,222,237,1);
    font-family: Work Sans, sans-serif;
    font-size: 14px;
    padding: 3px;
    resize:none;
}

textarea:focus{
    border: 4px solid rgba(183,222,237,1);
}

.btn{
    width: 60px;
    height: 32px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;

    padding: 0;
    border: none;
    cursor: pointer;
    background-color: rgb(122, 187, 237);
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    font-family: PT Sans, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .5px;
    float: right;
    outline: none;
}
.btn:hover{
    box-shadow: 10px 1px 9px -3px #959595;
}
.btn:focus{
    box-shadow: none;
}